<weather-card-base [item]="item" [showDetail]="showDetail" [showDetailAdvanced]="showDetailAdvanced" [showMainTemplate]="showMainTemplate">
    <ng-template #mainTemplate let-item let-location="location" let-current="current" let-condition="condition"
        let-today="today">
        <div *ngIf="item" class="d-flex flex-row justify-content-around p-1">
            <div class="panel m-3">
                <div class="date">
                    {{location?.localtime | date: 'mediumDate'}}
                </div>
                <div class="city">
                    {{location?.name}}
                </div>
                <div class="city-more mb-3">
                    {{location?.region+','+location?.country}}
                </div>
                <div class="temp mb-2" *ngIf="current">
                    {{current.temp_c}}&deg;{{'C'}}
                    <!-- {{current?.temp_f}}&deg;{{'F'}} -->
                </div>
                <div class="temp-range" *ngIf="today">
                    Min: {{today.mintemp_c}}&deg;C | Max: {{today.maxtemp_c}}&deg;C
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <div class="mb-1">
                    <weather-card-icon [condition]="current?.condition?.text"></weather-card-icon>
                </div>
                <div class="condition d-flex justify-content-center">
                    {{current?.condition?.text}}
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #detailTemplate let-item let-current="current">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center m-2" *ngIf="current" style="color: whitesmoke;">
                <weather-data-field labelText="Wind(kph)" [value]="current.wind_kph"></weather-data-field>
                <weather-data-field labelText="Wind direction" [value]="current.wind_dir"></weather-data-field>
                <weather-data-field labelText="Pressure(mb)" [value]="current.pressure_mb"></weather-data-field>
                <weather-data-field labelText="Visibility(km)" [value]="current.vis_km"></weather-data-field>
                <weather-data-field labelText="Humidity(%)" [value]="current.humidity"></weather-data-field>
            </div>
            <div  *ngIf="item" class="d-flex flex-column justify-content-center">
                <collapse-icon (clicked)="onShowDetail()" [direction]="'right'"></collapse-icon>
            </div>
        </div>
    </ng-template>
    <ng-template #detailAdvancedTemplate let-item let-astro="astro" let-day="day">
        <div class="d-flex flex-row justify-content-around">
            <div  *ngIf="item" class="d-flex flex-column justify-content-center">
                <collapse-icon (clicked)="onShowDetail()" [direction]="'left'"></collapse-icon>
            </div>
            <div *ngIf="item" class="d-flex flex-column justify-content-center m-2">
                <div class="d-flex gap-2 flex-row">
                    <weather-data-field labelText="Maximum temp (C)" [value]="day.maxtemp_c"></weather-data-field>
                    <weather-data-field labelText="Minimum temp (C)" [value]="day.mintemp_c"></weather-data-field>
                    <weather-data-field labelText="Average temp (C)" [value]="day.avgtemp_c"></weather-data-field>
                </div>
                <div class="d-flex gap-2 flex-row">
                    <weather-data-field labelText="Max wind (kph)" [value]="day.maxwind_kph"></weather-data-field>
                    <weather-data-field labelText="Total precip (mm)" [value]="day.totalprecip_mm"></weather-data-field>
                    <weather-data-field labelText="Average visibility (km)" [value]="day.avgvis_km"></weather-data-field>
                </div>
                <div class="d-flex gap-2 flex-row">
                    <weather-data-field labelText="Daily chance of rain (%)" [value]="day.daily_chance_of_rain">
                    </weather-data-field>
                    <weather-data-field labelText="Daily chance of snow (%)"
                        [value]="day.daily_chance_of_snow==null ? 0 : day.daily_chance_of_snow">
                    </weather-data-field>
                    <weather-data-field labelText="UV (%)" [value]="day.uv==null ? 0 : day.uv"></weather-data-field>
                </div>
                <div class="d-flex flex-row gap-2">
                    <weather-data-field labelText="Sunrise" [value]="astro.sunrise"></weather-data-field>
                    <weather-data-field labelText="Sunset" [value]="astro.sunset"></weather-data-field>
                    <weather-data-field labelText="Moonrise" [value]="astro.moonrise"></weather-data-field>
                </div>
                <div class="d-flex flex-row gap-2">
                    <weather-data-field labelText="Moonset" [value]="astro.moonset"></weather-data-field>
                    <weather-data-field labelText="Moon phase" [value]="astro.moon_phase"></weather-data-field>
                    <weather-data-field labelText="Moon illumination" [value]="astro.moon_illumination">
                    </weather-data-field>
                </div>
            </div>
        </div>
    </ng-template>
</weather-card-base>
